@using GLeitos.GLeitosTO
@model GLeitos.Models.UsuarioView
@{
                /**/

                Layout = "../Layout/_LayoutGLeitos.cshtml";
}


<!--Fundo principal-->
<div class="templatemo-content-container">

    <div class="templatemo-content-container">
        <div class="templatemo-content-widget black-bg">
            <h2 class="margin-bottom-10"><a href="#" onclick="javascript:carregaTela('@Url.Action("ListaUsuario", "Usuario")');"><i class="arrow-back fa fa-arrow-alt-circle-left fa-fw"></i></a>Usuário<a href="#" onclick="javascript:carregaTela('@Url.Action("Index","Adm")');"><i class="fas fa-home fa-fw icon-home" title="Início"></i></a></h2> <!--Título da Página-->

            @using (Html.BeginForm("SalvarUsuario", "Usuario", FormMethod.Post,
                new { enctype = "multipart/form-data", name = "FormUsuario", id = "FormUsuario" }))
            {
                @Html.ValidationSummary(true);

                <div class="row form-group">
                    <div class="col-lg-4 col-md-4 form-group">
                        <label for="inputFirstName">Nome do Usuário</label> <!--Nome da Usuário -->
                        @Html.HiddenFor(model => model.Usuario.id_Usuario, new { @id = "hdnid_Usuario" })
                        @Html.TextBoxFor(model => model.Usuario.nome_Usuario, new { @id = "nome_Usuario", @Class = "form-control", @placeholder = "Nome do Usuário" })
                        <div class="formLine">
                            @Html.ValidationMessageFor(x => x.Usuario.nome_Usuario, "", new { @class = "text-danger-yellow" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 form-group">
                        <label for="inputFirstName">Login</label> <!--Login-->
                        @Html.TextBoxFor(model => model.Usuario.login_Usuario, new { @id = "login_Usuario", @Class = "form-control", @placeholder = "Login" })
                        <div class="formLine">
                            @Html.ValidationMessageFor(x => x.Usuario.login_Usuario, "", new { @class = "text-danger-yellow" })
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-4 col-md-4 form-group">
                        <label for="inputFirstName">Senha</label> <!--Senha-->
                        @Html.TextBoxFor(model => model.Usuario.senha_Usuario, new { @id = "senha_Usuario", @Class = "form-control", @placeholder = "Senha", @type = "password" })
                        <div class="formLine">
                            @Html.ValidationMessageFor(x => x.Usuario.senha_Usuario, "", new { @class = "text-danger-yellow" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 form-group">
                        <label for="inputFirstName">Perfis</label> <!--Perfis-->
                        @Html.HiddenFor(model => model.ListaPerfilSel, new { @id = "hdnListaPerfilSel" })
                        @*@Html.TextBoxFor(model => model.Usuario.senha_Usuario, new { @id = "senha_Usuario", @Class = "form-control", @placeholder = "Login" })*@
                        <select id="selPerfil" multiple class="form-control selectheight">
                            @foreach (var item in Model.ListaPerfil.OrderBy(m => m.nome_Perfil))
                            {
                                if (Model.ListaPerfilSel.IndexOf(item.id_Perfil.PadLeft(2, '0') + "#") > -1)
                                {
                                    <option value="@item.id_Perfil" selected>@item.nome_Perfil</option>
                                }
                                else
                                {
                                    <option value="@item.id_Perfil">@item.nome_Perfil</option>
                                }

                            }
                        </select>
                        <div class="formLine">
                            @Html.ValidationMessageFor(x => x.Usuario.usuarioEmpresaPerfilItems, "", new { @class = "text-danger-yellow" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 form-group">
                        <label for="inputFirstName">Ativo</label> <!--Perfis-->
                        @Html.HiddenFor(model => model.Usuario.ativo, new { @id = "hdnAtivo" })
                        <select id="selAtivo" class="form-control">
                            @{ string strAtivo = "";
                                string strInativo = "";
                                if (Model.Usuario.ativo == 1)
                                {
                                    strAtivo = "selected";
                                }
                                else
                                {
                                    strInativo = "selected";
                                }
                                <option value="1" @strAtivo>Sim</option>
                                <option value="0" @strInativo>Não</option>
                            }
                        </select>
                        <div class="formLine">
                            @Html.ValidationMessageFor(x => x.Usuario.ativo, "", new { @class = "text-danger-yellow" })
                        </div>
                    </div>
                </div>

                <div class="form-group text-left">
                    <button type="button" class="templatemo-white-button" onclick="javascript: excluir('@Url.Action("ExcluirUsuario", "Usuario", new { id_usuario = Model.Usuario.id_Usuario })', 'Deseja desativar este usuário?');">Apagar</button>
                    <button type="button" class="templatemo-blue-button" onclick="javascript: salvarusuario('@Url.Action("SalvarUsuario", "Usuario", new { id_usuario = Model.Usuario.id_Usuario })');">Salvar</button>
                </div>

            }


        </div>
        <footer class="text-right">
            <p>
                Copyright &copy; 2019 Unimed Nordeste-RS
                | Desenvolvido por <a href="http://www.exporj.com.br/" target="s" class="texto-link">ExpoRJ</a>
            </p>
        </footer>
    </div>
</div>
@if (!string.IsNullOrWhiteSpace(Model.mensagem))
{
    <script>emite_msg('@Model.mensagem');</script>
}
@if (!string.IsNullOrWhiteSpace(Model.erro))
{
    <script>emite_msg('@Model.erro');</script>
}
@Scripts.Render("~/scripts/valida.usuario.js")